<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Form </title>
</head>
<body>
    <form method="POST" action="update/{{product.id}}">
        {% csrf_token %}
        Update Nnmae: <input name="product_name" type="text" value ={{product.product_name}}> <br>
        Update Code: <input name="product_code" type="text" value={{product.product_code}}> <br>
        Update price: <input name="product_price" type="text" value={{product.product_price}}> <br>
        
        <input type="submit">
    </form>

</body>
</html>